/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  
  
}

#header {
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  font-weight: 100;
}

#todos-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#todos-list{
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  padding: 15px;
}



#todos-list li {
  list-style: none;
  display: grid;
  align-items: center;
  grid-template-columns: 5% 90% 5%;
}

#todos-list li:hover .delete-button{
  visibility: visible;
}

.todo-checkbox {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid rgba($color: #ccc, $alpha: 0.6);
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

// * //

.todo-content {
  font-size: 28px;
  padding-left: 15px;
  font-weight: 200;
}

// Input Container //

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding: 15px;
  margin-bottom: 10px;

  input[type="text"] {
    padding: 15px 15px 15px 60px;
    color: inherit;
    font-size: 24px;
    line-height: 1.4rem;
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.003);
  }
}


//delete button div //

.delete-button{
  visibility: hidden;
}

.delete-button button{
  border: 0;
  background-color: inherit;
  color: rgba($color: red, $alpha: 0.3);
  font-size: 20px;

  &:hover{
    color: red;
  }
}

// // 


// footer //@extend

footer{
  margin-top: 5rem;

  ul li{
    list-style: none;
    margin-top: 1rem;
    color: rgba($color: black, $alpha: 0.3)
  }
}


// //

#todos-checklist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 15px;

  span{
    font-size: 18px;
      font-weight: 100;
      padding: 3px 5px;
  }

  div:nth-of-type(1){
    display: flex;
    justify-content: space-around;
    button{
      border: 0;
      background-color: inherit;
      font-size: 14px;
      font-weight: 100;
      padding: 3px 5px;

      &:hover{
        border: 1px solid rgba($color: red, $alpha: 0.1);
      }
    }
  }
}